.design-empty {
  margin: 0 8px;
  font-size: 14px;
  line-height: 1.5715;
  text-align: center;

  &-image {
    height: 200px;
    margin-bottom: 4px;

    img {
      height: 100%;
    }

    svg {
      height: 100%;
      margin: auto;
    }
  }

  &-description {
    margin: 0;
  }

  &-footer {
    margin-top: 16px;
  }
}

.design-empty-default {
  margin: 0 8px;
  font-size: 14px;
  line-height: 1.5715;
  text-align: center;

  &-image {
    height: 54px;
    margin-bottom: 8px;

    img {
      height: 100%;
    }
  }

  &-description {
    font-size: 14px;
    color: #c2c2c2;
  }
}
