.lc-setter-mixed {
  width: 100%;
  position: relative;
  .lc-setter-actions {
    position: absolute;
    right: 0px;
  }
  padding-right: 30px;
  &.lc-block-setter {
    position: static;
    display: block;
    padding-right: 0;
  }
}
