body, html {
  display: block;
  background: white;
  padding: 0;
  margin: 0;
}

html.engine-cursor-move, html.engine-cursor-move * {
  cursor: grabbing !important;
}

html.engine-cursor-copy, html.engine-cursor-copy * {
  cursor: copy !important;
}

html.engine-cursor-ew-resize, html.engine-cursor-ew-resize * {
  cursor: ew-resize !important;
}

::-webkit-scrollbar {
  display: none;
}

.lc-container {
  &:empty {
    background: #f2f3f5;
    color: #a7b1bd;
    outline: 1px dashed rgba(31, 56, 88, 0.2);
    outline-offset: -1px !important;
    height: 66px;
    max-height: 100%;
    min-width: 140px;
    text-align: center;
    overflow: hidden;
    display: flex;
    align-items: center;
    &:before {
      content: '\62D6\62FD\7EC4\4EF6\6216\6A21\677F\5230\8FD9\91CC';
      font-size: 14px;
      z-index: 1;
      width: 100%;
      white-space: nowrap;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.engine-empty {
  background: #f2f3f5;
  color: #a7b1bd;
  outline: 1px dashed rgba(31, 56, 88, 0.2);
  outline-offset: -1px !important;
  height: 66px;
  max-height: 100%;
  min-width: 140px;
  text-align: center;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.engine-empty:before {
  content: '\62D6\62FD\7EC4\4EF6\6216\6A21\677F\5230\8FD9\91CC';
  font-size: 14px;
  z-index: 1;
  width: 100%;
  white-space: nowrap;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lc-container-placeholder {
  min-height: 60px;
  height: 100%;
  width: 100%;
  background-color: rgb(240, 240, 240);
  border: 1px dotted;
  color: rgb(167, 177, 189);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

body.engine-document {
  &:after, &:before {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }

  /*
  .next-input-group,
  .next-checkbox-group,.next-date-picker,.next-input,.next-month-picker,
  .next-number-picker,.next-radio-group,.next-range,.next-range-picker,
  .next-rating,.next-select,.next-switch,.next-time-picker,.next-upload,
  .next-year-picker,
  .next-breadcrumb-item,.next-calendar-header,.next-calendar-table {
    pointer-events: none !important;
  } */
}

.engine-live-editing {
  cursor: text;
  outline: none;
  box-shadow: 0 0 0 2px rgb(102, 188, 92);
  user-select: text;
}

/* stylelint-disable-next-line selector-max-id */
#app {
  height: 100vh;
}


.luna-page {
  height: 100%;
}
