.lc-draggable-line-vertical {
  position: absolute;
  width: 4px;
  height: 100%;
  background-color: transparent;
  cursor: col-resize;
}

.lc-draggable-line-horizontal {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: transparent;
  cursor: row-resize;
}
