# ref: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence
* @liujuping @JackLian

/modules/material-parser @akirakai
/modules/code-generator @qingniaotonghua
