@import './theme.less';

:root {
  --font-family: @font-family;
  --font-size-label: @fontSize-4;
  --font-size-text: @fontSize-5;
  --font-size-btn-large: @fontSize-3;
  --font-size-btn-medium: @fontSize-4;
  --font-size-btn-small: @fontSize-5;

  --global-border-radius: @global-border-radius;
  --input-border-radius: @input-border-radius;
  --popup-border-radius: @popup-border-radius;

  --left-area-width: 48px;
  --right-area-width: 300px;
  --top-area-height: 48px;
  --toolbar-height: 36px;
  --dock-pane-width: 300px;
  --dock-fixed-pane-width: 300px;
}

@media (min-width: 1860px) {
  :root {
    --right-area-width: 400px;
    --dock-pane-width: 452px;
    --dock-fixed-pane-width: 350px;
  }
}

html,
body {
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  position: relative;
  font-family: var(--font-family);
  font-size: var(--font-size-text);
  color: var(--color-text);
  background-color: #edeff3;
}

* {
  box-sizing: border-box;
}

.lc-titled-panel {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #fff;
  background-color: var(--color-pane-background);
  &.hidden {
    display: none;
  }
  .lc-panel-title {
    // background-color: var(--pane-title-bg-color,rgba(31,56,88,.04));
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 15px;

    .lc-help-tip {
      margin-left: 4px;
      color: rgba(0, 0, 0, 0.4);
      cursor: pointer;
    }
  }
  > .lc-panel-title {
    height: 48px;
    font-size: 16px;
    padding: 0 15px;
    // border-bottom: 1px solid var(--color-line-normal,rgba(31,56,88,.1));
    color: #0f1726;
    font-weight: bold;
  }

  .lc-panel-body {
    position: absolute;
    top: 48px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: visible;
    /*
    .my-tabs {
      width: 100%;
      height: 100%;
      position: relative;
      .tabs-title {
        display: flex;
        height: var(--pane-title-height);
        > .tab-title {
          cursor: pointer;
          padding: 0;
          flex: 1;
          min-width: 0;
          justify-content: center;
          border-bottom: 2px solid transparent;
          &.actived {
            cursor: default;
            color: var(--color-text-avtived);
            border-bottom-color: #3896ee;
          }
        }
      }
      .tabs-content {
        position: absolute;
        top: var(--pane-title-height);
        bottom: 0;
        left: 0;
        right: 0;
        height: calc(100% - var(--pane-title-height));
        overflow: hidden;
      }
    }
    */
  }
  .lc-outline-tree-container {
    border-top: 1px solid var(--color-line-normal, rgba(31, 56, 88, 0.1));
  }
}
.lc-panel {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #fff;
  background-color: var(--color-pane-background);
  // overflow: auto;
  &.hidden {
    display: none;
  }
}

.workspace-engine-main {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #edeff3;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  &.active {
    z-index: 999;
  }

  .lc-workbench {

  }

  .engine-editor-view {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;

    &.active {
      z-index: 999;
      background: #edeff3;
    }
  }
}

.lc-workbench {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #edeff3;

  &.engine-main {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #edeff3;
  }
  .lc-top-area {
    height: var(--top-area-height);
    background-color: var(--color-pane-background);
    width: 100%;
    display: none;
    margin-bottom: 2px;
    padding: 8px 12px 8px 16px;

    &.lc-area-visible {
      display: flex;
    }

    .lc-top-area-left {
      display: flex;
      align-items: center;
    }

    .lc-top-area-center {
      flex: 1;
      display: flex;
      justify-content: center;
      margin: 0 8px;
    }
    .lc-top-area-right {
      display: flex;
      align-items: center;
      > * {
        margin-left: 4px;
        margin-right: 4px;
      }
      .ve-quick-search-trigger {
        display: flex;
      }
    }
  }
  .lc-workbench-body {
    flex: 1;
    display: flex;
    min-height: 0;
    position: relative;

    .lc-tabs-title {
      width: 100%;
      height: 32px;
      position: relative;
      display: center;
      display: flex;
      justify-content: center;
      align-items: center;
      // background: rgba(31,56,88,0.04);
      border-bottom: 1px solid #edeff3;
      .lc-tab-title {
        flex: 1;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 2px solid transparent;
        cursor: pointer;
        font-size: 12px;
        &.actived {
          color: #0079f2;
          border-bottom-color: #0079f2;
        }
      }
    }

    .lc-tabs-content {
      position: absolute;
      top: 32px;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .lc-pane-icon-close {
      position: absolute;
      right: 16px;
      top: 14px;
      height: auto;
      z-index: 2;
      .next-icon {
        line-height: 1;
        color: rgba(0, 0, 0, 0.6);
      }
    }

    .lc-pane-icon-fix,
    .lc-pane-icon-float {
      position: absolute;
      right: 38px;
      top: 14px;
      height: auto;
      z-index: 2;
      svg {
        vertical-align: middle;
        color: rgba(0, 0, 0, 0.6);
      }
    }

    .lc-left-float-pane {
      position: absolute;
      top: 0;
      bottom: 0;
      width: var(--dock-pane-width);
      // min-width: var(--dock-fixed-pane-width);
      left: calc(var(--left-area-width) + 1px);
      background-color: var(--color-pane-background);
      box-shadow: 4px 6px 6px 0 rgba(31, 50, 88, 0.08);
      z-index: 820;
      display: none;
      // padding-top: 36px;
      &.lc-area-visible {
        display: block;
      }
    }
    .lc-left-area {
      height: 100%;
      width: var(--left-area-width);
      background-color: var(--color-pane-background);
      display: none;
      flex-shrink: 0;
      flex-direction: column;
      justify-content: space-between;
      overflow: hidden;
      &.lc-area-visible {
        display: flex;
      }
      .lc-left-area-top,
      .lc-left-area-bottom {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        .lc-title {
          flex-direction: column;
          width: calc(var(--left-area-width) - 2px);
          height: 46px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          &.actived {
            color: #0079f2;
          }
          &.disabled {
            opacity: 0.4;
          }
          .lc-title-icon {
            height: 20px;
            width: 20px;
            margin: 0;
            .next-icon:before {
              line-height: 1 !important;
            }
          }
        }
      }
      .lc-left-area-top {
        padding-top: 12px;
      }
      .lc-left-area-bottom {
        padding-bottom: 12px;
      }
    }
    .lc-left-fixed-pane {
      width: var(--dock-fixed-pane-width);
      background-color: var(--color-pane-background);
      height: 100%;
      display: none;
      flex-shrink: 0;
      position: relative;
      z-index: 820;
      &.lc-area-visible {
        display: block;
      }
    }
    .lc-left-area.lc-area-visible ~ .lc-left-fixed-pane {
      margin-left: 1px;
    }
    .lc-left-area.lc-area-visible ~ .lc-workbench-center {
      margin-left: 2px;
    }
    .lc-outline-pane {
      .lc-outline-tree .tree-node .tree-node-title {
        border-bottom: none;
      }
    }
    .lc-workbench-center {
      flex: 1;
      display: flex;
      flex-direction: column;
      z-index: 10;
      .lc-toolbar {
        display: flex;
        height: var(--toolbar-height);
        background-color: var(--color-pane-background);
        padding: 8px 16px;
        .lc-toolbar-center {
          display: flex;
          justify-content: center;
          align-items: center;
          flex: 1;
        }
      }
      .lc-main-area {
        flex: 1;
        background-color: #edeff3;
      }
      .lc-bottom-area {
        height: var(--bottom-area-height);
        background-color: var(--color-pane-background);
        display: none;
        &.lc-area-visible {
          display: block;
        }
      }
    }
    .lc-right-area {
      height: 100%;
      width: var(--right-area-width);
      background-color: var(--color-pane-background);
      display: none;
      flex-shrink: 0;
      margin-left: 2px;
      position: relative;
      > .lc-panel {
        position: absolute;
        left: 0;
        top: 0;
      }
      &.lc-area-visible {
        display: block;
      }
      .lc-settings-tabs {
        > .next-tabs-nav-extra {
          top: 36px !important;
        }
        .lc-settings-tab-item {
          .next-tabs-tab-inner {
            font-size: 12px;
            line-height: 12px;
          }
        }
        .lc-title {
          color: inherit;
          line-height: inherit !important;
        }
      }
      .lc-settings-tabs-content {
        top: 66px;
      }
    }
  }
}
