html.lc-cursor-dragging,
html.lc-cursor-dragging * {
  cursor: move !important;
}

html.lc-cursor-x-resizing,
html.lc-cursor-x-resizing * {
  cursor: col-resize;
}

html.lc-cursor-y-resizing,
html.lc-cursor-y-resizing * {
  cursor: row-resize;
}

html.lc-cursor-copy,
html.lc-cursor-copy * {
  cursor: copy !important;
}
