.lowcode-right-area {
  width: 300px;
  height: 100%;
  background-color: $card-background;
  border-left: 1px solid $color-line1-1;
  .right-plugin-title {
    &.locked {
      color: red !important;
    }
    &.active {
      color: $color-brand1-9 !important;
    }
    &.disabled {
      cursor: not-allowed;
      color: $color-text1-1;
    }
  }

  .right-panel {
    overflow: auto;
    border-top: 1px solid $color-line1-1;
  }

  //tab定义
  .next-tabs-wrapped.right-tabs {
    display: flex;
    flex-direction: column;
    margin-top: -1px;
    .next-tabs-bar {
      z-index: 1;
    }
    .next-tabs-nav {
      display: block;
      .next-tabs-tab {
        &:first-child {
          border-left: none;
        }
        font-size: 14px;
        text-align: center;
        border-right: none !important;
        margin-right: 0 !important;
        width: 25%;
        &.active {
          background: none;
          border-bottom-color: $color-line1-1 !important;
        }
      }
    }
  }
  .next-tabs-content {
    flex: 1;
    .next-tabs-tabpane.active {
      height: 100%;
      overflow-y: auto;
    }
  }
}
