.lc-setter-object-row {
  display: flex;
  align-items: stretch;
  width: 100%;
  .lc-setter-object-row-edit {
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .lc-setter-object-row-body {
    display: flex;
    flex: 1;
    min-width: 0;
    align-items: center;
    .lc-field {
      padding: 0 !important;
      .lc-field-body {
        padding: 0 !important; margin: 0 !important;
      }
    }
    > * {
      flex: 1;
      flex-shrink: 1;
      margin-left: 2px;
      min-width: 0;
      overflow: hidden;
    }
  }
}
