.lc-function-setter{

  .function-container{
    position: relative;
    
  }

  .funtion-icon{
    float: left;
    width: 25px;
    height: 25px;
  }

  .function-name{
    font-size: 14px;
    color:#5584FF;
    margin-left:5px;
    cursor: pointer;
  
  }

  .funtion-operate-icon{
    font-size: 16px;
    margin-left:5px;
    cursor: pointer;
  }
}



