.lc-designer {
  position: relative;
  min-width: 500px;
  min-height: 500px;
  .lc-project {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    .lc-document {
      width: 100%;
      height: 100%;
      &&-hidden {
        // todo:
        display: none;
      }

      .lc-simulator-shell {
        width: 100%;
        height: 100%;
      }
    }
  }
}



