.ve-component-list {
  .kuma-button-outline {
    border-color: #0079f2;
    color: #0079f2;
    &:hover {
      border-color: #0079f2;
      color: #0079f2;
      background-color: #f0f7ff;
    }
    &.kuma-button-danger {
      border-color: #f04631;
      color: #f04631;
      &:hover {
        background-color: rgba(240, 70, 49, 0.06);
      }
    }
  }
}
