.event-body {
  padding: 0 10px 0 10px;
  position: relative;
  min-height: 450px;

  .event-title {
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
  }


  .next-radio-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .next-table td .next-table-cell-wrapper{
    padding: 12px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
  }

  .next-radio-group label {
    -webkit-box-flex: 1;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }


  .event-cell {
    padding-left: 25px;
    position: relative;
    font-size: 12px;
  }

  .event-type-tag {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0px;
    top: -2px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    background-color: #2077ff;
  }

  .related-icon {
    margin-right: 5px;
  }

  .related-event-name {
    color: #2077ff;
    cursor: pointer;
  }


  .event-menu {
    max-height: 300px;
    width: 230px;
    overflow-x: hidden;
    position: absolute;
    top: 67px;
    left: 10px;
    z-index: 10;
  }

  .event-table {
    margin-top: 20px;
  }

  .event-operate-icon {
    cursor: pointer;
  }

  .event-operate-icon:hover {
    color: #0079f2;
  }
}

