.event-body {
  padding: 0 10px 0 10px;
  position: relative;
  min-height: 450px;

  .event-title {
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
  }


  .next-radio-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .next-table td .next-table-cell-wrapper{
    padding: 12px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
  }

  .next-radio-group label {
    -webkit-box-flex: 1;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }


  .event-cell {
    padding-left: 25px;
    position: relative;
    font-size: 12px;
  }

  .event-type-tag {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0px;
    top: -2px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    background-color: #2077ff;
  }

  .related-icon {
    margin-right: 5px;
  }

  .related-event-name {
    color: #2077ff;
    cursor: pointer;
  }


  .event-menu {
    max-height: 300px;
    width: 230px;
    overflow-x: hidden;
    position: absolute;
    top: 67px;
    left: 10px;
    z-index: 10;
  }

  .event-table {
    margin-top: 20px;
  }

  .event-operate-icon {
    cursor: pointer;
  }

  .event-operate-icon:hover {
    color: #0079f2;
  }
}


.event-dialog-body {
  width: 800px;
  height: 450px;


  .dialog-small-title {
    font-weight: 700;
    margin-bottom: 8px;
    color: rgba(0, 0, 0);
  }

  .dialog-left-container {
    float: left;

    .dialog-left-context {
      width: 268px;
      height: 392px;
      border: 1px solid rgba(31, 56, 88, .3);
      border-radius: 3px;

      .event-type-container {
        width: 110px;
        height: 390px;
        border-right: 1px solid rgba(31, 56, 88, .3);
        float: left;
      }

      .select-item {
        font-size: 12px;
        height: 28px;
        line-height: 28px;
        padding: 0 30px 0 12px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .select-item-active {
        background: rgba(31, 56, 88, .06);
      }

      .event-select-container {
        width: 156px;
        float: left;

        .event-search-box {
          width: 135px;
          margin: 10px;
        }
      }

      .event-list {
        overflow-y: auto;
        overflow-x: hidden;
        height: 342px;
      }
    }
  }

  .dialog-right-container {
    width: 530px;
    padding-left: 20px;
    float: left;

    .event-input-container {
      margin-bottom: 20px;
    }
  }
}
