.lowcode-left-plugin {
  font-size: 16px;
  text-align: center;
  line-height: 36px;
  height: 36px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
  color: $color-text1-3;
  &.collapse {
    height: 40px;
    border-bottom: 1px solid $color-line1-1;
    opacity: 0.6;
  }
  &.locked {
    color: red !important;
  }
  &:hover {
    background-color: $color-brand1-1;
    color: $color-brand1-6;
    &:before {
      content: attr(data-tooltip);
      display: block;
      position: absolute;
      left: 50px;
      top: 5px;
      line-height: 18px;
      font-size: 12px;
      white-space: nowrap;
      padding: 6px 8px;
      border-radius: 4px;
      background: rgba(0, 0, 0, 0.75);
      color: #fff;
      z-index: 100;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 40px;
      top: 15px;
      border: 5px solid transparent;
      border-right-color: rgba(0, 0, 0, 0.75);
      z-index: 100;
    }
  }
  &.active {
    color: $color-white;
    background-color: $color-brand1-9;
    &.disabled {
      color: $color-white;
      background-color: $color-fill1-4;
    }
  }
  &.disabled {
    cursor: not-allowed;
    color: $color-text1-1;
  }
}
