.lc-popup-placeholder {
  position: fixed;
  width: 100%;
  pointer-events: none;
}

.lc-ballon {
  padding: 10px;
  max-width: 640px;
  width: 640px;
  .lc-ballon-title {
    font-size: 14px;
  }
  .lc-ballon-content {
    margin-top: 10px;
    // width: 300px;
  }
  .next-balloon-close {
    top: 4px;
    right: 4px;
  }
}
