@font-face {
    /* project id 272666 */
    font-family: 'iconfont';
    src: url('//at.alicdn.com/t/font_o8u52jwbfgm8to6r.eot');
    src: url('//at.alicdn.com/t/font_o8u52jwbfgm8to6r.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_o8u52jwbfgm8to6r.woff') format('woff'), url('//at.alicdn.com/t/font_o8u52jwbfgm8to6r.ttf') format('truetype'), url('//at.alicdn.com/t/font_o8u52jwbfgm8to6r.svg#iconfont') format('svg');
}

.demo-icon {
    font-family: 'iconfont' !important;
    font-size: 12px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
}

.demo-icon-all:before {
    content: "\e662";
}

.demo-icon-cart:before {
    content: "\e618";
}

.demo-icon-comments:before {
    content: "\e605";
}

.demo-icon-cry:before {
    content: "\e61a";
}

.demo-icon-email:before {
    content: "\e663";
}

.demo-icon-favorite:before {
    content: "\e60a";
}

.demo-icon-folder:before {
    content: "\e61b";
}

.demo-icon-form:before {
    content: "\e61c";
}

.demo-icon-help:before {
    content: "\e61f";
}

.demo-icon-refresh:before {
    content: "\e621";
}

.demo-icon-set:before {
    content: "\e623";
}

.demo-icon-training:before {
    content: "\e624";
}

.demo-icon-account:before {
    content: "\e664";
}

.demo-icon-atm:before {
    content: "\e626";
}

.demo-icon-clock:before {
    content: "\e615";
}

.demo-icon-attachment:before {
    content: "\e627";
}

.demo-icon-3column:before {
    content: "\e628";
}

.demo-icon-4column:before {
    content: "\e629";
}

.demo-icon-discount:before {
    content: "\e62a";
}

.demo-icon-service:before {
    content: "\e62b";
}

.demo-icon-print:before {
    content: "\e62c";
}

.demo-icon-box:before {
    content: "\e62d";
}

.demo-icon-browse:before {
    content: "\e634";
}

.demo-icon-atm-away:before {
    content: "\e635";
}

.demo-icon-scanning:before {
    content: "\e636";
}

.demo-icon-compare:before {
    content: "\e637";
}

.demo-icon-filter:before {
    content: "\e638";
}

.demo-icon-pin:before {
    content: "\e639";
}

.demo-icon-history:before {
    content: "\e63a";
}

.demo-icon-similar-product:before {
    content: "\e63b";
}

.demo-icon-link:before {
    content: "\e63c";
}

.demo-icon-cut:before {
    content: "\e64a";
}

.demo-icon-table:before {
    content: "\e63e";
}

.demo-icon-nav-list:before {
    content: "\e63f";
}

.demo-icon-image-text:before {
    content: "\e640";
}

.demo-icon-text:before {
    content: "\e641";
}

.demo-icon-move:before {
    content: "\e642";
}

.demo-icon-subtract:before {
    content: "\e650";
}

.demo-icon-dollar:before {
    content: "\e643";
}

.demo-icon-office:before {
    content: "\e644";
}

.demo-icon-operation:before {
    content: "\e645";
}

.demo-icon-download:before {
    content: "\e646";
}

.demo-icon-map:before {
    content: "\e647";
}

.demo-icon-bad:before {
    content: "\e648";
}

.demo-icon-good:before {
    content: "\e649";
}

.demo-icon-skip:before {
    content: "\e64b";
}

.demo-icon-play:before {
    content: "\e64c";
}

.demo-icon-stop:before {
    content: "\e64d";
}

.demo-icon-compass:before {
    content: "\e64e";
}

.demo-icon-security:before {
    content: "\e64f";
}

.demo-icon-share:before {
    content: "\e651";
}

.demo-icon-store:before {
    content: "\e652";
}

.demo-icon-phone:before {
    content: "\e653";
}

.demo-icon-ellipsis:before {
    content: "\e654";
}

.demo-icon-email-filling:before {
    content: "\e665";
}

.demo-icon-favorites-filling:before {
    content: "\e666";
}

.demo-icon-account-filling:before {
    content: "\e667";
}

.demo-icon-credit-level:before {
    content: "\e65a";
}

.demo-icon-credit-level-filling:before {
    content: "\e65c";
}

.demo-icon-mobile-phone:before {
    content: "\e65d";
}

.demo-icon-smile:before {
    content: "\e668";
}

.demo-icon-personal-center:before {
    content: "\e669";
}

.demo-icon-arrow-up-filling:before {
    content: "\e601";
}

.demo-icon-arrow-right:before {
    content: "\e603";
}

.demo-icon-arrow-down:before {
    content: "\e66b";
}

.demo-icon-arrow-up:before {
    content: "\e66c";
}

.demo-icon-add:before {
    content: "\e66f";
}

.demo-icon-minus:before {
    content: "\e670";
}

.demo-icon-edit:before {
    content: "\e613";
}

.demo-icon-error:before {
    content: "\e672";
}

.demo-icon-select:before {
    content: "\e673";
}

.demo-icon-ashbin:before {
    content: "\e61e";
}

.demo-icon-calendar:before {
    content: "\e620";
}

.demo-icon-time:before {
    content: "\e622";
}

.demo-icon-success:before {
    content: "\e674";
}

.demo-icon-warning:before {
    content: "\e675";
}

.demo-icon-search:before {
    content: "\e656";
}

.demo-icon-display:before {
    content: "\e677";
}

.demo-icon-category:before {
    content: "\e658";
}

.demo-icon-prompt:before {
    content: "\e678";
}

.demo-icon-arrow-down-filling:before {
    content: "\e65b";
}

.demo-icon-sorting:before {
    content: "\e676";
}

.demo-icon-ascending:before {
    content: "\e606";
}

.demo-icon-descending:before {
    content: "\e608";
}

.demo-icon-success-filling:before {
    content: "\e679";
}

.demo-icon-picture:before {
    content: "\e60c";
}

.demo-icon-close:before {
    content: "\e67a";
}

.demo-icon-semi-select:before {
    content: "\e67b";
}

.demo-icon-tag-subscript:before {
    content: "\e614";
}

.demo-icon-survey:before {
    content: "\e65f";
}

.demo-icon-loading:before {
    content: "\e67c";
}

.demo-icon-arrow-double-left:before {
    content: "\e616";
}

.demo-icon-arrow-double-right:before {
    content: "\e661";
}

.demo-icon-nav-more:before {
    content: "\e67d";
}

.demo-icon-delete-filling:before {
    content: "\e681";
}

.demo-icon-arrow-left:before {
    content: "\e682";
}

.demo-icon-lights:before {
    content: "\e66d";
}

.demo-icon-expand:before {
    content: "\e66e";
}

.demo-icon-hide:before {
    content: "\e671";
}

.demo-icon-fusion-logo:before {
    content: "\e67f";
}

.demo-icon-arrow-right-filling:before {
    content: "\e680";
}

.demo-icon-arrow-left-filling:before {
    content: "\e683";
}

.demo-icon-superstar:before {
    content: "\e684";
}

.demo-icon-qr-code:before {
    content: "\e685";
}

.demo-icon-home:before {
    content: "\e689";
}

.demo-icon-electronics:before {
    content: "\e68a";
}

.demo-icon-import:before {
    content: "\e67e";
}

.demo-icon-process:before {
    content: "\e687";
}

.demo-icon-gifts:before {
    content: "\e688";
}

.demo-icon-bags:before {
    content: "\e68b";
}

.demo-icon-pointing-left:before {
    content: "\e68c";
}

.demo-icon-pointing-right:before {
    content: "\e68d";
}

.demo-icon-no-results:before {
    content: "\e686";
}

.demo-icon-auto:before {
    content: "\e68e";
}
