// mixin
.lowcode-setter-mixin > * {
  vertical-align: middle;
}
.lowcode-setter-mixin {
  width: 86%;
}
.lowcode-setter-mixin .next-input {
  width: 100%;
}
.lowcode-setter-mixin .next-select-trigger {
  width: 100%;
}
// function
:global {
  .nrs-monaco-form {
    .next-form-item:last-child {
      margin: 0 !important;
    }
  }
  .monaco-editor-wrap {
    min-height: 300px;
    .monaco_fullscreen_icon {
      position: absolute;
      line-height: 1;
      z-index: 7;
      color: #ddd;
      &:hover {
        color: #fff;
      }
    }
    .btns-eare {
      text-align: left;
      line-height: initial;
      margin-top: 5px;
      // button{
      //   margin-right: 10px;
      // }
    }
    &.monaco-nofullscreen {
      position: relative !important;
      .monaco_fullscreen_icon {
        position: absolute;
        top: 5px;
        right: 5px;
        line-height: 1;
        z-index: 7;
        i:before {
          font-size: 16px;
        }
      }
    }
    &.monaco-fullscreen {
      position: fixed !important;
      height: 100% !important;
      width: 100% !important;
      border: 0;
      margin: 0;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1001;
      overflow: hidden;
      .monaco_fullscreen_icon {
        top: 10px;
        right: 10px;
        i:before {
          font-size: 24px;
        }
      }
    }
  }
  .luna-monaco-button button {
    width: 100%;
  }
  .luna-monaco-button-dialog {
    .next-dialog-body {
      padding: 0;
      .next-form-item {
        height: 100%;
        margin-bottom: 0;
        .next-form-item-control,
        .next-form-item-control > div {
          height: 100% !important;
        }
        .next-form-item-help {
          position: absolute;
        }
      }
    }
  }
}