////
/// @module line: 线条
/// @type String
/// @category style
////

// Line
// 根据 Alibaba Base DPL(BASE DPL)
// 边框主要用于呈现元素内容区域，显示元素的操作区域；线主要用于管理和分隔列表和页面布局内的内容。以便让内容生成更好的视觉效果及空间感。

// ************************** 公共变量, 供开发者和设计师引用 *********************** //

/// line-zero
/// @semantic 无
/// @export size
/// @group size
/// @type Length
/// @unconfigurable
$line-zero: 0 !default;

/// line-1
/// @semantic 细
/// @export size
/// @group size
/// @type Length
$line-1: 1px !default;

/// line-2
/// @semantic 常规
/// @export size
/// @group size
/// @type Length
$line-2: 2px !default;

/// line-3
/// @semantic 粗
/// @export size
/// @group size
/// @type Length
$line-3: 3px !default;

/// line-solid
/// @export style
/// @group style
/// @unconfigurable
$line-solid: solid !default;

/// line-dashed
/// @export style
/// @group style
/// @unconfigurable
$line-dashed: dashed !default;

/// line-dotted
/// @export style
/// @group style
/// @unconfigurable
$line-dotted: dotted !default;

// ----------- patch ----------- //
$line-0: $line-zero;
