html.my-cursor-dragging, html.my-cursor-dragging * {
  cursor: move !important
}

html.my-cursor-x-resizing, html.my-cursor-x-resizing * {
  cursor: col-resize;
}

html.my-cursor-y-resizing, html.my-cursor-y-resizing * {
  cursor: row-resize;
}

html.my-cursor-copy, html.my-cursor-copy * {
  cursor: copy !important
}
