.lc-popup-placeholder {
  position: fixed;
  width: 100%;
  pointer-events: none;
}

.lc-ballon {
  padding: 10px;
  max-width: 640px;
  width: 640px;
  .lc-ballon-title {
    font-size: 14px;
  }
  .lc-ballon-content {
    margin-top: 10px;
    // FIXME: popup position is bad
    max-height: calc(60vh);
    overflow-x: hidden;
    overflow-y: auto;
  }
  &.next-balloon-closable {
    padding: 10px !important;
  }
  .next-balloon-close {
    top: 4px !important;
    right: 4px !important;
  }
}
