*,
*:before,
*:after {
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-left: 0;
}

hr {
    border: 0 $line-solid $color-line1-2;
    border-top-width: $line-1;
}

a {
    text-decoration: none;
    &:link {
        color: $color-link-1;
    }
    &:visited {
        color: $color-link-2;
    }
    &:hover {
        color: $color-link-3;
    }
    &:active {
        text-decoration: underline;
        color: $color-link-3;
    }
}
