// mixin
.lowcode-setter-mixin > * {
  vertical-align: middle;
}
.lowcode-setter-mixin {
  width: 86%;
}
.lowcode-setter-mixin .next-input {
  width: 100%;
}
.lowcode-setter-mixin .next-select-trigger {
  width: 100%;
}