@import "~@ali/ve-less-variables/index.less";

@text-color-active: #0079f2;

.component-description-item-snippet {
  position: relative;
  &.small {
    width: 64px;
    height: 66px;
    .snippet-thumbnail {
      height: 40px;
      img,
      .icon {
        max-width: 56px;
        max-height: 32px;
      }
    }
  }
  &.large {
    width: 132px;
    height: 126px;
    .snippet-thumbnail {
      height: 100px;
      img,
      .icon {
        max-width: 116px;
        max-height: 83px;
      }
    }
  }
  margin: 12px 8px 0 8px;
  cursor: grab;
  .snippet-title {
    width: 100%;
    padding: 0 4px;
    font-size: @fontSize-5;
    color: #666666;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .snippet-thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 9px;
    border-radius: @global-border-radius;
    border: 1px dashed #cdd2d9;
    transition: border @transition-duration @transition-ease;
    img,
    .icon {
      width: auto;
      height: auto;
    }
    svg {
      font-size: 28px;
    }
    svg * {
      fill: rgba(31, 56, 88, 0.6) !important;
    }
  }
  .component-description-item-icon {
    &.tag {
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(249, 189, 15, 0.1);
      color: #ff6f00;
      font-size: 12px;
      border-radius: 3px;
      width: 48px;
      height: 24px;
    }
  }
  .engine-additive-helper {
    &.left-top {
      position: absolute;
      left: 0;
      top: 0;
    }
    &.right-top {
      display: none;
    }
    icon {
      position: relative;
      font-size: 14px;
      cursor: pointer;
      color: rgba(31, 56, 88, 0.4);
      transition: color @transition-duration @transition-ease;
      &:hover {
        color: rgba(31, 56, 88, 0.6);
      }
      a {
        position: absolute;
        left: 0;
        top: 0;
        display: inline-block;
        width: 14px;
        height: 14px;
      }
    }
  }
  &:hover {
    .snippet-thumbnail {
      border: 2px solid @text-color-active;
      transition: border @transition-duration @transition-ease;
    }
    .right-top {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      height: 24px;
      display: flex;
      align-items: center;
    }
  }
}
