.event-dialog-body {
  width: 800px;
  height: 450px;


  .dialog-small-title {
    font-weight: 700;
    margin-bottom: 8px;
    color: rgb(0, 0, 0);
  }

  .editor-container{
    border: 1px solid rgba(31, 56, 88, 0.3);
  }

  .dialog-left-container {
    float: left;

    .dialog-left-context {
      width: 268px;
      height: 392px;
      border: 1px solid rgba(31, 56, 88, 0.3);
      border-radius: 3px;

      .event-type-container {
        width: 110px;
        height: 390px;
        border-right: 1px solid rgba(31, 56, 88, 0.3);
        float: left;
      }

      .select-item {
        font-size: 12px;
        height: 28px;
        line-height: 28px;
        padding: 0 30px 0 12px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .select-item-active {
        background: rgba(31, 56, 88, 0.06);
      }

      .event-select-container {
        width: 156px;
        float: left;

        .event-search-box {
          width: 135px;
          margin: 10px;
        }
      }

      .event-list {
        overflow-y: auto;
        overflow-x: hidden;
        height: 342px;
      }
    }
  }

  .dialog-right-container {
    width: 530px;
    padding-left: 20px;
    float: left;

    .event-input-container {
      margin-bottom: 20px;
    }
  }
}
