.next-btn.next-large.lowcode-top-btn {
  width: 44px;
  height: 44px;
  padding: 0;
  margin: 2px -2px;
  text-align: center;
  border-radius: 8px;
  border: 1px solid transparent;
  color: #777;
  &.disabled {
    cursor: not-allowed;
    color: $color-text1-1;
  }
  &.locked {
    color: red !important;
  }
  &:hover {
    background-color: $color-brand1-1;
    color: $color-brand1-6;
    &:before {
      content: attr(data-tooltip);
      display: block;
      height: auto;
      width: auto;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      bottom: -35px;
      line-height: 18px;
      font-size: 12px;
      white-space: nowrap;
      padding: 6px 8px;
      border-radius: 4px;
      background: rgba(0, 0, 0, 0.75);
      color: #fff;
      z-index: 100;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      bottom: -5px;
      border: 5px solid transparent;
      border-bottom-color: rgba(0, 0, 0, 0.75);
      opacity: 1;
      visibility: visible;
      z-index: 100;
    }
  }
  i.next-icon {
    &:before {
      font-size: 17px;
    }
    margin-right: 0;
    line-height: 18px;
  }
  span {
    display: block;
    margin: 0px -5px 0;
    line-height: 16px;
    text-align: center;
    font-size: 12px;
    transform: scale(0.8);
  }
}
