.lowcode-left-area-nav {
  width: 48px;
  height: 100%;
  background-color: $card-background;
  border-right: 1px solid $color-line1-1;
  position: relative;
  .top-area {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: $card-background;
    max-height: 100%;
  }
  .bottom-area {
    position: absolute;
    bottom: 20px;
    width: 100%;
    background-color: $card-background;
    max-height: calc(100% - 20px);
  }
}
