.lc-setter-mixed {
  flex: 1;
  min-width: 0;
  margin-right: 26px;
  display: block;
  position: relative;
  >.lc-setter-actions {
    position: absolute;
    right: -2px;
    top: 50%;
    transform: translate(100%, -50%);
    .lc-switch-trigger {
      cursor: pointer;
      opacity: 0.6;
      &:hover {
        opacity: 1;
      }
    }
    .lc-title {
      cursor: pointer;
    }
    .variable-binded {
      background: var(--color-brand, #006cff);
      color: #fff!important;
      border-radius: 3px;
    }
  }
  .next-input,.next-date-picker,.next-month-picker {
    width: 100%;
  }
  &.lc-block-setter {
    position: static;
    margin-right: 0;
    >.lc-setter-actions {
      transform: none;
    }
  }
}

.lc-block-field > .lc-field-body > .lc-setter-mixed {
  position: static;
  margin-right: 0;
  >.lc-setter-actions {
    position: absolute;
    right: 16px;
    top: 0;
    height: 32px;
    transform: none;
  }
}

.lc-block-field > .lc-field-body > .lc-setter-mixed{

}
.lc-accordion-field > .lc-field-body > .lc-setter-mixed{
  position: static;
  margin-right: 0;
  > .lc-setter-actions{
    right: 32px;
    top: 6px;
    transform: none;
  }
}
