.next-loading {
  .next-loading-wrap {
    height: 100%;
  }
}
.lowcode-editor {
  .lowcode-main-content {
    position: absolute;
    top: 54px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
  }
  .lowcode-center-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: #f7f7f7;
    padding: 10px;
    overflow: auto;
  }
}
