@import "~@ali/ve-less-variables/index.less";
@layout-handle-color: rgba(0, 0, 0, .3);
// todo remove
:root {
  --color-brand: #006cff;
  --color-brand-light: #197aff;
  --color-brand-dark: #0060e5;
  --color-canvas-background: rgba(31, 56, 88, 0.06);
  --color-icon-normal: rgba(31, 56, 88, 0.4);
  --color-icon-hover: rgba(31, 56, 88, 0.6);
  --color-icon-active: #006cff;
  --color-icon-reverse: #ffffff;
  --color-line-normal: rgba(31, 56, 88, 0.1);
  --color-line-darken: rgba(18, 32, 50, 0.1);
  --color-title: rgba(0, 0, 0, 0.8);
  --color-text: rgba(0, 0, 0, 0.6);
  --color-text-dark: rgba(0, 0, 0, 0.6);
  --color-text-light: rgba(26, 26, 26, 0.6);
  --color-text-reverse: rgba(255, 255, 255, 0.8);
  --color-text-regular: rgba(31, 56, 88, 0.8);
  --color-field-label: rgba(0, 0, 0, 0.4);
  --color-field-text: rgba(0, 0, 0, 0.6);
  --color-field-placeholder: rgba(31, 56, 88, 0.3);
  --color-field-border: rgba(31, 56, 88, 0.3);
  --color-field-border-hover: rgba(31, 56, 88, 0.4);
  --color-field-border-active: rgba(31, 56, 88, 0.6);
  --color-field-background: #ffffff;
  --color-function-success: #66bc5c;
  --color-function-success-dark: #4da243;
  --color-function-success-light: #88cb80;
  --color-function-warning: #fabd0e;
  --color-function-warning-dark: #d19c04;
  --color-function-warning-light: #fbcb40;
  --color-function-information: #2E76A6;
  --color-function-information-dark: #235a7e;
  --color-function-information-light: #3e91c9;
  --color-function-error: #f04631;
  --color-function-error-dark: #de2710;
  --color-function-error-light: #f37161;
  --color-pane-background: #ffffff;
  --color-block-background-normal: #ffffff;
  --color-block-background-light: rgba(31, 56, 88, 0.04);
  --color-block-background-shallow: rgba(31, 56, 88, 0.06);
  --color-block-background-dark: rgba(31, 56, 88, 0.1);
  --color-block-background-disabled: rgba(31, 56, 88, 0.2);
  --color-block-background-deep-dark: #BAC3CC;
  --color-layer-mask-background: rgba(0, 0, 0, 0.1);
  --color-layer-tooltip-background: rgba(44, 47, 51, 0.8);
}

.gradient-dark-mixin() {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2));
}

.gradient-white-mixin() {
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
}

.border-dark-mixin() {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.vs-style {
  .vs-style-source {
    box-sizing: border-box;
    min-width: 80px;
    width: auto;
    height: 26px;
    padding: 0 10px;
    border: none;
    border-radius: 3px;
    background-color: var(--color-brand, @brand-color-1);
    color: var(--color-text-reverse, @white-alpha-2);
    font-size: 12px;
    outline: 0;
    &:hover {
      background-color: var(--color-brand-dark, @brand-color-1-3);
      cursor: pointer;
    }
    margin-bottom: 5px;
  }
  .vs-flex-reverse {
    transform: scaleX(-1);
  }
  .vs-flex-reverse-v {
    transform: scaleY(-1);
  }
}

.vs-style-reverse-h {
  transform-origin: center;
  transform: scaleX(-1);
}

.vs-style-reverse-v {
  transform-origin: center;
  transform: scaleY(-1);
}

.vs-style-reverse-v-h {
  transform-origin: center;
  transform: scale(-1, -1);
}

.vs-style-rotate-180 {
  transform-origin: center;
  transform: rotate(180deg);
}

.vs-style-rotate-180-r {
  transform-origin: center;
  transform: rotate(-180deg);
}

.vs-style-rotate-90 {
  transform-origin: center;
  transform: rotate(90deg);
}

.vs-style-rotate-90-r {
  transform-origin: center;
  transform: rotate(-90deg);
}

.vs-style-rotate-45 {
  transform-origin: center;
  transform: rotate(45deg);
}

.vs-style-rotate-45-r {
  transform-origin: center;
  transform: rotate(-45deg);
}

.ve-field.vs-flex-field {
  display: flex;
  >.ve-field {
    flex: 1;
    padding: 5px;
    &.ve-inline-field .ve-field-title {
      width: 20px;
      letter-spacing: 0;
      margin-right: 3px;
      word-break: normal;
    }
  }
}

.ve-field-title svg>* {
  fill: var(--color-icon-normal, @normal-alpha-4);
}

.vs-style-layout {
  >.vs-field-display {
    >.ve-field-head>.ve-field-title {
      width: auto;
      margin-right: 3px;
      word-break: normal;
    }
  }
  .vs-style-diplay {}
  .vs-style-layout-flex {
    margin: 8px 5px 5px;
    >.vs-style-flex-property {
      &:not(:first-child) {
        margin-top: 5px;
      }
      >.ve-option {
        flex: 1;
      }
    }
  }
  .vs-style-layout-padding-margin {
    // width: 190px;
    height: 107px;
    margin: 25px 32px;
    position: relative;
    .vs-layout-box {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
      .vs-inline-input {
        position: absolute;
        width: 36px;
        height: 16px;
        >.vs-inline-input-text {
          display: block;
          font-family: @font-family;
          color: @text-color;
          font-size: 12px;
          line-height: 16px;
          opacity: 0.6;
          cursor: text;
          &:hover {
            opacity: 1;
            text-decoration: underline;
          }
        }
        >.vs-inline-input-input {
          font-family: @font-family;
          color: @text-color;
          font-size: 12px;
          border: none;
          background: rgba(0, 0, 0, 0.5);
          border-radius: 3px;
          width: 100%;
          height: 16px;
          line-height: 16px;
          padding: 0 2px;
          box-sizing: border-box;
          outline: none;
        }
        &.vs-layout-input-top,
        &.vs-layout-input-bottom {
          left: 50%;
          margin-left: -18px;
          text-align: center;
          .vs-inline-input-input {
            text-align: center;
          }
        }
        &.vs-layout-input-left,
        &.vs-layout-input-right {
          top: 50%;
          margin-top: -8px;
        }
        &.vs-layout-input-top {
          top: -17px;
        }
        &.vs-layout-input-bottom {
          bottom: -17px;
        }
        &.vs-layout-input-left {
          left: -38px;
          text-align: right;
          .vs-inline-input-input {
            text-align: right;
          }
        }
        &.vs-layout-input-right {
          right: -38px;
        }
      }
      .vs-layout-handle {
        position: absolute;
        display: block;
        font-size: 0;
        border: solid 14px transparent;
        box-sizing: border-box;
        opacity: 0.8;
        .vs-handle-icon {
          position: absolute;
          opacity: 0.6;
          max-width: none;
          max-height: none;
          pointer-events: none;
        }
        &.vs-handle-top {
          top: 0;
          border-top-color: @layout-handle-color;
          border-bottom-width: 0;
          .vs-handle-icon {
            bottom: 1px;
            left: 50%;
            transform: translateX(-50%);
          }
        }
        &.vs-handle-right {
          right: 0;
          border-right-color: @layout-handle-color;
          border-left-width: 0;
          .vs-handle-icon {
            left: 1px;
            top: 50%;
            transform: translateY(-50%) rotate(90deg);
          }
        }
        &.vs-handle-bottom {
          bottom: 0;
          border-bottom-color: @layout-handle-color;
          border-top-width: 0;
          .vs-handle-icon {
            top: 1px;
            left: 50%;
            transform: translateX(-50%) rotate(180deg);
          }
          .vs-handle-inscription {
            position: absolute;
            left: 3px;
            top: 1px;
            font-size: 12px;
            text-transform: uppercase;
            transform-origin: left;
            transform: scale(0.6);
            pointer-events: none;
          }
        }
        &.vs-handle-left {
          left: 0;
          border-left-color: @layout-handle-color;
          border-right-width: 0;
          .vs-handle-icon {
            right: 1px;
            top: 50%;
            transform: translateY(-50%) rotate(-90deg);
          }
        }
        &.vs-handle-top,
        &.vs-handle-bottom {
          height: 0;
          left: 2px;
          right: 2px;
          cursor: row-resize;
        }
        &.vs-handle-left,
        &.vs-handle-right {
          width: 0;
          bottom: 2px;
          top: 2px;
          cursor: col-resize;
        }
        &:hover {
          opacity: 1;
        }
      }
      &.vs-padding-box {
        top: 18px;
        bottom: 18px;
        left: 18px;
        right: 18px;
        .vs-handle-icon>path {
          transform-origin: center;
          transform: rotate(180deg);
        }
        .vs-inline-input {
          &.vs-layout-input-top {
            top: 16px;
          }
          &.vs-layout-input-bottom {
            bottom: 16px;
          }
          &.vs-layout-input-left {
            left: 16px;
            text-align: left;
            .vs-inline-input-input {
              text-align: left;
            }
          }
          &.vs-layout-input-right {
            right: 16px;
            text-align: right;
            .vs-inline-input-input {
              text-align: right;
            }
          }
        }
      }
    }
    .vs-margin-auto {
      position: absolute;
      bottom: 0;
      right: -35px;
      cursor: pointer;
      padding: 2px;
      border-radius: 2px;
      background: rgba(255, 255, 255, 0.3);
      &.ve-active {
        background: rgba(0, 0, 0, 0.4);
      }
    }
    .ve-highlight {
      .vs-inline-input-text {
        font-weight: bold;
        color: var(--color-brand, '#006cff') !important;
      }
    }
  }
}

.vs-style-typography {
  .ve-field.ve-inline-field {
    width: 100%;
    padding: 3px;
    >.ve-field-head .ve-field-title {
      width: 20px;
      margin-right: 3px;
      justify-content: flex-end;
    }
  }
  .ve-choice-control.ve-compact .ve-option {
    padding: 1px;
  }
  .vs-style-font-family {
    width: 100%;
  }
  .vs-style-font-weight {
    width: 143px;
  }
  .vs-style-font-color {
    width: 100%;
  }
  .vs-style-text-align {
    width: 100%;
  }
}

.vs-style-background {
  .ve-field.ve-inline-field {
    width: 100%;
    padding: 3px;
    >.ve-field-head .ve-field-title {
      width: 20px;
      margin-right: 3px;
      justify-content: flex-end;
    }
  }
  .ve-choice-control.ve-compact .ve-option {
    padding: 1px;
  }
  .vs-style-background-color {
    width: 100%;
  }
  .vs-style-background-repeat {
    width: 126px;
  }
  .vs-style-background-image {
    width: 100%;
  }
  .vs-style-background-position {
    display: flex;
    align-items: center;
    .vs-style-position-preset {
      width: 70px;
      height: 70px;
      position: relative;
      .vs-preset-item {
        .gradient-white-mixin;
        position: absolute;
        height: 20px;
        width: 20px;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
        border-radius: 1px;
        transition: background 0.2s;
        opacity: 0.8;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
          cursor: pointer;
          opacity: 1;
        }
        &.ve-active {
          .gradient-dark-mixin;
          opacity: 1;
          box-shadow: none;
        }
        &.vs-preset-left-top {
          left: 0;
          top: 0;
          >.ve-svgicon {
            transform: rotate(-45deg);
          }
        }
        &.vs-preset-center-top {
          left: 50%;
          margin-left: -10px;
          top: 0;
        }
        &.vs-preset-right-top {
          right: 0;
          top: 0;
          >.ve-svgicon {
            transform: rotate(45deg);
          }
        }
        &.vs-preset-left-center {
          left: 0;
          top: 50%;
          margin-top: -10px;
          >.ve-svgicon {
            transform: rotate(-90deg);
          }
        }
        &.vs-preset-center {
          left: 50%;
          margin-left: -10px;
          top: 50%;
          margin-top: -10px;
        }
        &.vs-preset-right-center {
          right: 0;
          top: 50%;
          margin-top: -10px;
          >.ve-svgicon {
            transform: rotate(90deg);
          }
        }
        &.vs-preset-left-bottom {
          left: 0;
          bottom: 0;
          >.ve-svgicon {
            transform: rotate(-135deg);
          }
        }
        &.vs-preset-center-bottom {
          left: 50%;
          margin-left: -10px;
          bottom: 0;
          >.ve-svgicon {
            transform: scaleY(-1);
          }
        }
        &.vs-preset-right-bottom {
          right: 0;
          bottom: 0;
          >.ve-svgicon {
            transform: rotate(135deg);
          }
        }
      }
    }
    .vs-style-position-custom {
      flex: 1;
      margin-left: 10px;
    }
  }
  .vs-style-background-size {
    display: flex;
    align-items: center;
    .vs-style-bgsize-preset {}
    .vs-style-bgsize-custom {
      flex: 1;
    }
  }
}

.vs-style-effects {
  .ve-field.ve-inline-field {
    width: 100%;
    padding: 3px;
    >.ve-field-head .ve-field-title {
      width: 20px;
      margin-right: 3px;
      justify-content: flex-end;
    }
  }
  .ve-number-control.vs-style-opacity.ve-has-units {
    width: 100%;
  }
  .ve-select-control.vs-style-cursor {
    width: 100%;
    path {
      fill: var(--color-text, @normal-alpha-4);
    }
  }
}

.vs-style-pseudo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .vs-style-source {
    margin-top: 6px;
  }
  .vs-style-pseudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .vs-style-pseudo-select-control {
      width: 105px;
    }
    span {
      margin-right: 5px;
    }
  }
}

.control-button-mixin() {
  margin: 2px;
  padding: 5px;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
}

.vs-style-border-style,
.vs-style-border-radius {
  display: flex;
  margin-top: 5px;
  .border-dark-mixin;
  .vs-style-border-setter-left-pane,
  .vs-style-border-setter-right-pane {
    display: flex;
  }
  .vs-style-border-setter-right-pane {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .ve-number-control,
    .ve-color-control,
    .ve-select-control {
      width: 80px;
      margin-right: 4px;
    }
    >div {
      display: flex;
      align-items: center;
    }
  }
  .vs-style-border-setter-left-pane {
    width: 40%;
    align-items: center;
    justify-content: space-around;
  }
  .vs-style-border-setter-row {
    >div {
      .gradient-white-mixin;
      .control-button-mixin;
    }
    .vs-style-border-selected {
      .gradient-dark-mixin;
    }
  }
}

.ve-style-box-shadow-select {
  display: flex;
  .ve-color-control {
    width: 100%;
  }
}
