:root {
  --color-brand: #006cff;
  --color-brand-light: #197aff;
  --color-brand-dark: #0060e5;
  --color-icon-normal: rgba(31, 56, 88, 0.4);
  --color-icon-hover: rgba(31, 56, 88, 0.6);
  --color-icon-active: #006cff;
  --color-icon-reverse: #ffffff;
  --color-line-light: rgba(31, 56, 88, 0.05);
  --color-line-normal: rgba(31, 56, 88, 0.1);
  --color-line-darken: rgba(18, 32, 50, 0.1);
  --color-title: rgba(0, 0, 0, 0.8);
  --color-text: rgba(0, 0, 0, 0.6);
  --color-text-dark: rgba(0, 0, 0, 0.6);
  --color-text-light: rgba(26, 26, 26, 0.6);
  --color-text-reverse: rgba(255, 255, 255, 0.8);
  --color-text-regular: rgba(31, 56, 88, 0.8);
  --color-field-label: rgba(0, 0, 0, 0.4);
  --color-field-text: rgba(0, 0, 0, 0.6);
  --color-field-placeholder: rgba(31, 56, 88, 0.3);
  --color-field-border: rgba(31, 56, 88, 0.3);
  --color-field-border-hover: rgba(31, 56, 88, 0.4);
  --color-field-border-active: rgba(31, 56, 88, 0.6);
  --color-field-background: #ffffff;
  --color-pane-background: #ffffff;
  --color-block-background-normal: #ffffff;
  --color-block-background-light: rgba(31, 56, 88, 0.03);
  --color-block-background-shallow: rgba(31, 56, 88, 0.06);
  --color-block-background-dark: rgba(31, 56, 88, 0.1);
  --color-block-background-disabled: rgba(31, 56, 88, 0.2);
  --color-block-background-deep-dark: #BAC3CC;
}

.lc-settings-main {
  position: relative;
  height: 100%;
  overflow: hidden;

  .lc-settings-notice {
    text-align: center;
    font-size: 12px;
    font-family: PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica,Arial,sans-serif;
    color: var(--color-text ,rgba(0,0,0,.6));
    padding: 50px 15px 0;
  }

  .lc-settings-navigator {
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    border-bottom: 1px solid var(--color-line-normal);
    .lc-settings-node-breadcrumb {
      margin-left: 5px;
      .next-breadcrumb {
        display: inline-flex;
        align-items: stretch;
        height: 24px;
      }
      .next-breadcrumb-item {
        display: inline-flex;
        align-items: center;
        cursor: default;
        &:not(:last-child):hover {
          cursor: pointer;
        }
        .next-breadcrumb-text {
          font-size: 12px;
        }
      }
    }
  }

  .lc-settings-body {
    position: absolute;
    top: 30px;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
  }

  .lc-settings-pane {
    padding-bottom: 50px;
  }

  // ====== reset fusion-tabs =====
  .lc-settings-tabs {
    position: relative;
    overflow: visible;
    > .next-tabs-nav-extra {
      position: absolute !important;
      top: 40px !important;
      left: 0 !important;
      height: 30px;
      right: 0;
      transform: none !important;

    }
    .next-tabs-nav-container {
      .next-tabs-nav {
        display: flex;
        .next-tabs-tab.lc-settings-tab-item {
          flex: 1;
          min-width: 0;
          outline: none;
          .next-tabs-tab-inner {
            text-align: center;
            padding: 12px 0;
          }
        }
      }
    }
  }

  .lc-settings-tabs-content {
    position: absolute;
    top: 70px;
    left:0;
    right: 0;
    bottom: 0;
    .next-tabs-tabpane {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      overflow-y: auto;
    }
  }
  .lc-outline-pane {
    position: absolute;
    z-index: 100;
    background-color: white;
    top: 0;
    bottom: 0;
    display: none;
  }
}

html.lc-cursor-dragging:not(.lowcode-has-fixed-tree) {
  .lc-settings-main .lc-outline-pane {
    display: block;
  }
}
