@import '~@ali/ve-less-variables/index.less';

.engine-input-control {
  box-sizing: border-box;
  font-size: 12px;
  font-family: Consolas, "Courier New", Courier, FreeMono, monospace;
  color: var(--color-text, @dark-alpha-3);
  background: var(--color-field-background, @white-alpha-1);
  border: 1px solid var(--color-field-border, @normal-alpha-5);
  flex: 1;
  border-radius: @global-border-radius;
  max-height: 200px;

  &:hover {
    border-color: var(--color-field-border-hover, @normal-alpha-4);
  }

  &.engine-focused {
    border-color: var(--color-field-border-active, @normal-alpha-3);
  }

  textarea {
    resize: none;
  }

  >.engine-input {
    box-sizing: border-box;
    padding: 6px;
    display: block;
    font-size: 12px;
    line-height: 16px;
    color: var(--color-text, @dark-alpha-3);
    width: 100%;
    border: 0;
    margin: 0;
    background: transparent;
    outline: none;

    &::-webkit-input-placeholder {
      color: var(--color-field-placeholder, @normal-alpha-5);
    }
  }
}
