.lowcode-right-area {
  width: 262px;
  height: 100%;
  background-color: $card-background;
  border-left: 2px solid $color-line1-1;

  .right-panel {
    overflow: auto;
    // border-top: 2px solid $color-line1-1;
  }

  //tab定义
  .right-tabs.next-tabs {
    .next-tabs-nav {
      width: 100%;
      .next-tabs-tab-inner {
        padding-left: 0;
        padding-right: 0;
      }
      .right-plugin-title {
        text-align: center;
        &.locked {
          color: red !important;
        }
        &.active {
          color: $color-brand1-9 !important;
        }
        &.disabled {
          cursor: not-allowed;
          color: $color-text1-1;
        }
        .next-icon {
          line-height: 15px;
          margin-right: 2px;
        }
      }
    }
  }
}
