// mixed
.lowcode-setter-mixed > * {
  vertical-align: middle;
}
.lowcode-setter-mixed {
  width: 86%;
}
.lowcode-setter-mixed .next-input {
  width: 100%;
}
.lowcode-setter-mixed .next-select-trigger {
  width: 100%;
}