.my-auxiliary {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: visible;
  z-index: 800;
  .embed-editor-toolbar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    > * {
      pointer-events: all;
    }
  }
}
